

<div class="box box-solid bg-custom-gradient" style="color: #111111; overflow-x: auto; overflow-y: hidden;">
    <div class="box-header">
        <!--<i class="fa fa-hourglass-half" style="color: #ffd800;"></i>-->
        <a href="" class="refresh" ng-click="refresh()" title="refresh..."><i class="fa fa-refresh" aria-hidden="true"></i></a> &nbsp;
        <h3 class="box-title" style="color: #eee; font-size: 1.25em;">
            Reservations &nbsp; <small class="label pull-right bg-red" title=""> 7
            </small>
            <!--<a href="" class="btn btn-sm btn-default" ng-click="sendMsg()"><i class="fa fa-refresh" aria-hidden="true"></i></a>-->
        </h3><!-- dynamic data will be used -->
        <!-- tools box -->
        <div class="pull-right box-tools">
            <!-- button with a dropdown -->
            <!--<button class="btn btn-linkedin" ng-click="showWalkin()">Add Walk-in Guests&nbsp;<i class="fa fa-user-plus" style="color: #ffd800;"></i></button>-->

            <button class="btn btn-success" ng-click="showAdd()" title="Add Reservation">Add Reservation &nbsp;<i class="fa fa-user-plus" style="color: #f58331;"></i></button>

            <!--<div class="btn-group">
                    <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="" ng-click="showAdd()"><span class="glyphicon glyphicon-plus-sign"></span> Add New</a></li>

                        <li class="divider"></li>
                        <li><a href="#/org"><span class="glyphicon glyphicon-eye-open"></span> View All</a></li>
                    </ul>
                </div>-->
            <!--<button class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>-->
        </div><!-- /. tools -->
    </div><!-- /.box-header -->


</div>