<link href="../../content/AdminLTE.css" rel="stylesheet" />

<header class="main-header" data-ng-controller="profileController">
    <!-- Logo -->
    <a href="" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="/content/images/ezQ_logo.png" width="30" height="30" /></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="/content/images/ezQ_logo.png" /></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <div id="modalDialog"></div> <!-- Load modal dialog here! -->
            <ul class="nav navbar-nav">

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu" data-ng-hide="!authentication.isAuthorized">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" title="Hello {{authentication.userName}}!">
                        <img ng-src="{{baseUrl}}{{authentication.userAvatarImgUrl}}" class="user-image" width="100" height="100" alt="User Image" title="Hello {{authentication.userName}}!">
                        <span class="hidden-xs">{{authentication.userName}}</span>
                    </a>
                    <!--content/images/avatars/avatar-default.png-->
                    <ul class="dropdown-menu">



                        <!-- User image -->
                        <li class="user-header">
                            <img ng-src="{{baseUrl}}{{authentication.userAvatarImgUrl}}" class="img-circle" style="height: 60px; width: 60px;" alt="User Image">
                            <p class="pull-right" style="font-style: italic;">
                                {{authentication.firstName}}{{profile.firstName}} (<span ng-if="authentication.position == ''">{{authentication.position}}</span>{{profile.position}})
                                <small>Member since {{profile.joinDate | date : "shortDate"}}</small>
                                <!--{profile.level}}--> <span ng-if="trial2">
                                    <small style="color: #ffd800"> Trial Account <a href="" ng-click="upgradeAcct()" class="btn btn-sm btn-danger">Upgrade</a> </small>
                                </span>
                            </p>
                        </li>
                        <!-- Menu Body
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </li>
                        -->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#/profile" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="" class="btn btn-default btn-flat" data-ng-click="logOut()">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li data-ng-hide="!authentication.isAuthorized">
                    <a href="" data-ng-click="logOut()" title="Logout"><span style="color: #ffd800; font-size: 1.25em;" class="glyphicon glyphicon-log-out"></span></a>
                </li>
                <!-- Control Sidebar Toggle Button
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>-->
            </ul>
        </div>
    </nav>
</header>

<!-- JQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

<script src="../../Scripts/application.js"></script>