<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libphonenumber-csharp" version="4.4.0.1" targetFramework="net45" />
  <package id="RestSharp" version="105.2.2" targetFramework="net45" />
  <package id="Twilio" version="4.7.2" targetFramework="net45" />
  <package id="TwilioFluent.Mvc3" version="1.0.1.0" targetFramework="net45" />
  <package id="TwilioFluent.TwiML" version="1.0.1.0" targetFramework="net45" />
</packages>