<div class="container" style="width: 98%;">

    <div class="content clear_float" ng-controller="userdashController">

        <div class="row" style="margin-bottom: 30px;">
            <page-header></page-header>
        </div>
        <div class="row" id="home-panel">

            <section class="col-lg-7 col-md-7 col-sm-12 connectedSortable" style="overflow-x: auto;">
                <wait-list></wait-list>
            </section>
            <section class="col-lg-5 col-md-5 col-sm-12 connectedSortable" style="overflow-x: auto;">
                <dinning-table></dinning-table>
            </section>
        </div>

      <!--
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
           -->
    </div>


    <!-- Angular UI Bootstrap Modal Implementation (Testing...) -->

    <!--<div>{{date | date: 'short'}}</div>-->

    <!--<button type="button" class="btn btn-default" ng-click="openDialog()">Open me!</button>-->

</div>