<style>
    .panel-info > .panel-heading {
        margin-top: -15px;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>


<div class="panel panel-info" style="position: relative; top: 30px;">
    <div class="panel-heading" style="position: relative;top: -30px;">
        <h3>
            <i class="fa fa-industry"></i> Company Details
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
                <figure class="thumbnail">
                    <img class="img-responsive" ng-src="{{baseUrl}}{{accountDetails.logoImgUrl}}" title="{{accountDetails.name}}" />
                </figure>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left">
                    <div class="panel-body">
                        <header class="text-left">
                            <div class="org-title">{{accountDetails.name}}</div>
                            <div class="org-add">
                                {{accountDetails.addressLine1}} {{accountDetails.city}} {{accountDetails.provState}} {{accountDetails.postZipCode}}<br/>
                                {{orgDetails.telephone}}
                            </div>
                        </header>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="tabbable-panel">
                <div class="tabbable-line" ng-init="tab=1">
                    <ul class="nav nav-tabs ">
                        <li ng-class="{ active: tab===1 }" class="active">
                            <a href="" ng-click="tab=1">
                                Account Information
                            </a>
                        </li>
                        <li ng-class="{ active: tab===2 }">
                            <a href="" ng-click="tab=2">
                                Usage & Billing
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" ng-show="tab===1">
                            <p>
                                <form name="detailform" class="form-horizontal">
                                    <div class="box-body" style="margin-top: -25px;">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Account ID</label>
                                            <div class="col-sm-8 detail-value ">
                                                <span ><label class="no-bold">{{accountDetails.accountId}} </label></span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Payment Option</label>
                                            <div class="col-sm-8 detail-value">
                                                <span  ><label id="inputEmail3" class="no-bold">{{accountDetails.paymentOption == '1' ? 'Monthly Billing' : 'Online Banking'}}</label></span>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Is Active</label>
                                            <div class="col-sm-8 detail-value">
                                                <span ><input type="checkbox" ng-checked="accountDetails.isActive" /></span>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Effecgive Date</label>
                                            <div class="col-sm-8 detail-value">
                                                <span ><label id="inputEmail3" class="no-bold">{{accountDetails.effectiveDate | date :  'short' }}</label></span>
                                                
                                            </div>
                                        </div>
                                        

                                    </div>


                                   <!-- <div class="box-footer">
                                        
                                        <button type="submit" ng-disabled="isDisabled || (detailform.oname.$invalid || detailform.addr.$invalid || detailform.city.$invalid || detailform.province.$invalid || detailform.postcode.$invalid)"
                                                class="btn btn-primary pull-left" style="margin-right: 5px;" ng-click="closeThisDialog(); clean()">
                                            <i class="fa fa-check" aria-hidden="true"></i> Ok
                                        </button>
                                    </div>-->
                                </form>
</div>
                        <div class="tab-pane active" ng-show="tab===2">
                            <p style="margin-left: 16px;">
                                Wait Lists Served <span style="color: red">({{accoiuntListByMonthYear.length}})</span>
                            </p>

                            <div class="form-group">

                                <div class="col-sm-12 ">

                                    <div class="col-sm-2">
                                        <!-- <div class="radio">
                                            <label style="margin-left: 10px;">
                                                <input type="radio" name="optionsRadios" ng-click="getAllWaitList(accountDetails.organizationId)" ng-model="value" value="all" id="optionsRadios1" ng-checked="true">
                                                <span style="font-size: .9em;">All </span>
                                            </label>
                                        </div>-->
                                    </div>

                                    <div class="col-sm-2" style="padding-left: 0;">
                                        <div class="radio">
                                            <label style="margin-left: 10px;">
                                                <input type="radio" name="optionsRadios" ng-click="" ng-model="value" value="monthYear" id="optionsRadios2" ng-checked="true">
                                                <span style="font-size: .9em;">Monthly </span>  - <!-- {{value}} -->
                                            </label>
                                        </div>
                                    </div>
                                    <div ></div>
                                    <div class="col-sm-4" style="text-align: right; margin-top: 10px; padding-right: 0;">
                                        <select ng-model="mregister.monthId" ng-options="month.id as month.name for month in mregister.months" style="font-size: .9em;">
                                            <!--<option>Select a Month</option>
                                            <option>January</option>
                                            <option>Februrary</option>
                                            <option>March</option>
                                            <option>April</option>
                                            <option>May</option>
                                            <option>June</option>
                                            <option>July</option>
                                            <option>August</option>
                                            <option>September</option>
                                            <option>Ocotober</option>
                                            <option>November</option>
                                            <option>December</option>-->
                                        </select>
                                        <!-- {{mregister.monthId}} -->
                                    </div>
                                    <div class="col-sm-4" style="text-align: center; margin-top: 10px; padding-right: 0;">
                                        <select ng-model="yregister.yearId" ng-options="year.id as year.name for year in yregister.years" style="font-size: .9em;">
                                            <!--<option>2016</option>
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                            <option>2021</option>
                                            <option>2022</option>-->
                                        </select>
                                        <!-- {{yregister.yearId}} -->
                                        <a href="" ng-click="getMonthlyList(accountDetails.organizationId, mregister.monthId + yregister.yearId)"><i class="fa fa-arrow-circle-o-right" aria-hidden="true" style="color: #e82e2e; font-size: 1.25em;" title="filter..."></i></a>
                                    </div>


                                    <!--

                                    <div class="col-sm-6">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>

                                    -->

                                </div>
                            </div>


                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr style="font-size: .75em;">
                                        <th></th>
                                        <th>Customer Name</th>
                                        <th>Mobile Number</th>
                                        <th>Party Size</th>
                                        <th>Join Time</th>
                                    </tr>
                                    </thead>
                                    <tbody style="font-size: .75em;">
                                    <loading-spinner></loading-spinner>
                                    <tr dir-paginate="list in accoiuntListByMonthYear | filter: q | filter: s | itemsPerPage:5 ">
                                        <td><i class="fa fa-user" ng-class="{'row-available': list.waitingStatus === 'Available', 'row-waiting': list.waitingStatus === 'Waiting', 'row-served': list.waitingStatus === 'Served'}" title="{{list.waitingStatus}}"></i></td>
                                        <td>{{list.guestFirstName}} {{list.guestLastName}}</td>
                                        <td>{{list.guestContactTel}}</td>
                                        <td>{{list.guestGroupSize}}</td>
                                        <td>{{list.updateDate | date: 'short'}}</td>


                                        <!--<td>{{list.waitingStatus}}</td>-->
                                        <!--<td>{{list.notes}}</td>-->




                                    </tr>



                                    <tr ng-show=""></tr>


                                    </tbody>
                                    <tfoot>
                                    <tr></tr>
                                    </tfoot>
                                </table>
                                <dir-pagination-controls ></dir-pagination-controls>
                            </div>
                            <!-- Total: {{accoiuntListByMonthYear.length}} -->
                        </div>

                        
                        <div class="box-footer">
                            <!-- <button type="submit" class="btn btn-default" ng-click="closeThisDialog()">Cancel</button> -->
                            <button type="submit" ng-disabled="isDisabled || (detailform.oname.$invalid || detailform.addr.$invalid || detailform.city.$invalid || detailform.province.$invalid || detailform.postcode.$invalid)"
                                    class="btn btn-primary pull-left" style="margin-right: 5px;" ng-click="closeThisDialog(); clean()">
                                <i class="fa fa-check" aria-hidden="true"></i> Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        

    </div>


</div>
