<style>
    .panel-info > .panel-heading {
        margin-top: -15px;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>


<div class="panel panel-info" style="position: relative; top: 30px;">
    <div class="panel-heading" style="position: relative;top: -30px;">
        <h3>
            <i class="fa fa-industry"></i> Company Details
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
                <figure class="thumbnail">
                    <img class="img-responsive" ng-src="{{baseUrl}}{{orgDetails.logoImgUrl}}" title="{{orgDetails.name}}"/>
                </figure>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left">
                    <div class="panel-body">
                        <header class="text-left">
                            <div class="org-title">{{orgDetails.name}}</div>
                            <div class="org-add">
                                {{orgDetails.addressLine1}} {{orgDetails.city}} {{orgDetails.provState}} {{orgDetails.postZipCode}}<br/>
                                {{orgDetails.telephone}}
                            </div>
                        </header>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="tabbable-panel">
                <div class="tabbable-line" ng-init="tab=1">
                    <ul class="nav nav-tabs ">
                        <li ng-class="{ active: tab===1 }" class="active">
                            <a href="" ng-click="tab=1">
                                Account Information
                            </a>
                        </li>
                        <li ng-class="{ active: tab===2 }">
                            <a href="" ng-click="tab=2">
                                Usage & Billing
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" ng-show="tab===1">
                            <p>
                                <form name="detailform" class="form-horizontal">
                                    <div class="box-body" style="margin-top: -25px;">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Account ID</label>
                                            <div class="col-sm-8 detail-value ">
                                                <span ng-hide="editing" ng-click="editing = true"><label class="no-bold">{{accountDetails.id}} </label></span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Description</label>
                                            <div class="col-sm-8 detail-value">
                                                <span ng-hide="editing1" ng-click="editing1 = true"><label id="inputEmail3" class="no-bold">{{orgDetails.description}}</label></span>
                                                <span ng-show="editing1"><textarea ng-blur="editing1 = false" ng-model="orgDetails.description" class="form-control" show-focus="editing1"></textarea></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Street Address</label>
                                            <div class="col-sm-8 detail-value">
                                                <span ng-hide="editing2" ng-click="editing2 = true"><label id="inputEmail3" class="no-bold">{{orgDetails.addressLine1}}</label></span>
                                                <span ng-show="editing2"><input type="text" name="addr" ng-blur="editing2 = false" ng-model="orgDetails.addressLine1" class="form-control" show-focus="editing2" required=""></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">City</label>
                                            <div class="col-sm-8 detail-value">
                                                <span ng-hide="editing4" ng-click="editing4 = true"><label id="inputEmail3" class="no-bold">{{orgDetails.city}}</label></span>
                                                <span ng-show="editing4"><input type="text" name="city" ng-blur="editing4 = false" ng-model="orgDetails.city" class="form-control" show-focus="editing4" required=""></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Province</label>
                                            <div class="col-sm-8 detail-value">
                                                <span ng-hide="editing3" ng-click="editing3 = true"><label id="inputEmail3" class="no-bold">{{orgDetails.provState}}</label></span>
                                                <span ng-show="editing3"><input type="text" name="province" ng-blur="editing3 = false" ng-model="orgDetails.provState" class="form-control" show-focus="editing3" required=""></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Post Code</label>
                                            <div class="col-sm-8 detail-value">
                                                <span ng-hide="editing5" ng-click="editing5 = true"><label id="inputEmail3" class="no-bold">{{orgDetails.postZipCode}}</label></span>
                                                <span ng-show="editing5"><input type="text" ng-blur="editing5 = false" name="postcode" ng-model="orgDetails.postZipCode" class="form-control" show-focus="editing5" required=""></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Telephone</label>
                                            <div class="col-sm-8 detail-value">
                                                <span ng-hide="editing0" ng-click="editing0 = true"><label id="inputEmail3" class="no-bold">{{orgDetails.telephone}}</label></span>
                                                <span ng-show="editing0"><input type="text" ng-blur="editing0 = false" ng-model="orgDetails.telephone" class="form-control" show-focus="editing0"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">SMS Code</label>
                                            <div class="col-sm-8 detail-value">
                                                <span ng-hide="editing7" ng-click="editing7 = true"><label id="inputEmail3" class="no-bold"><span ng-if="orgDetails.messageCode != null"></span>  {{orgDetails.messageCode}}<span ng-if="orgDetails.messageCode === null">00000 (not configured)</span></label></span>
                                                <span ng-show="editing7"><input type="text" ng-blur="editing7 = false" ng-model="orgDetails.messageCode" class="form-control" show-focus="editing7"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Join Time</label>
                                            <div class="col-sm-8 detail-value">
                                                <label id="inputEmail3" class="no-bold">{{orgDetails.createDate | date: 'short' }}</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Last Update</label>
                                            <div class="col-sm-8 detail-value">
                                                <label id="inputEmail3" class="no-bold">{{orgDetails.updateDate | date: 'short' }}</label>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
                                        <button type="submit" ng-disabled="isDisabled || (detailform.oname.$invalid || detailform.addr.$invalid || detailform.city.$invalid || detailform.province.$invalid || detailform.postcode.$invalid)"
                                                class="btn btn-primary pull-left" style="margin-right: 5px;" ng-click="updateOrg(orgDetails.id)">
                                            <i class="fa fa-check" aria-hidden="true"></i> Update
                                        </button>
                                    </div>
                                </form>
</div>
                        <div class="tab-pane active" ng-show="tab===2">
                            <p>
                                Howdy, I'm in Tab 2.
                            </p>
                            <p>
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                            </p>
                            
                        </div>

                    </div>
                </div>
            </div>



        </div>
        

    </div>


</div>
