<style>
    .panel-info > .panel-heading {
        margin-top: -15px;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>


<div class="panel panel-info" style="position: relative; top: 30px;">
    <div class="panel-heading" style="position: relative;top: -30px;">
        <h3>
            <i class="fa fa-industry"></i> Company Details
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
                <figure class="thumbnail">
                    <img class="img-responsive" ng-src="{{baseUrl}}{{accountDetails.logoImgUrl}}" title="{{accountDetails.name}}" />
                </figure>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left">
                    <div class="panel-body">
                        <header class="text-left">
                            <div class="org-title">{{accountDetails.name}}</div>
                            <div class="org-add">
                                {{accountDetails.addressLine1}} {{accountDetails.city}} {{accountDetails.provState}} {{accountDetails.postZipCode}}<br/>
                                {{orgDetails.telephone}}
                            </div>
                        </header>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="tabbable-panel">
                <div class="tabbable-line" ng-init="tab=1">
                    <ul class="nav nav-tabs ">
                        <li ng-class="{ active: tab===1 }" class="active">
                            <a href="" ng-click="tab=1">
                                Account Information
                            </a>
                        </li>
                        <li ng-class="{ active: tab===2 }">
                            <a href="" ng-click="tab=2">
                                Usage & Billing
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" ng-show="tab===1">
                            <p>
                                <form name="detailform" class="form-horizontal">
                                    <div class="box-body" style="margin-top: -25px;">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Account ID</label>
                                            <div class="col-sm-8 detail-value ">
                                                <span ><label class="no-bold">{{accountDetails.accountId}} </label></span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Payment Option</label>
                                            <div class="col-sm-8 detail-value">
                                                <span  ><label id="inputEmail3" class="no-bold">{{accountDetails.paymentOption == '1' ? 'Monthly Billing' : 'Online Banking'}}</label></span>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Is Active</label>
                                            <div class="col-sm-8 detail-value">
                                                <span ><input type="checkbox" ng-checked="accountDetails.isActive" /></span>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label ">Effecgive Date</label>
                                            <div class="col-sm-8 detail-value">
                                                <span ><label id="inputEmail3" class="no-bold">{{accountDetails.effectiveDate | date :  'short' }}</label></span>
                                                
                                            </div>
                                        </div>
                                        

                                    </div>


                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
                                        <button type="submit" ng-disabled="isDisabled || (detailform.oname.$invalid || detailform.addr.$invalid || detailform.city.$invalid || detailform.province.$invalid || detailform.postcode.$invalid)"
                                                class="btn btn-primary pull-left" style="margin-right: 5px;" ng-click="updateOrg(orgDetails.id)">
                                            <i class="fa fa-check" aria-hidden="true"></i> Update
                                        </button>
                                    </div>
                                </form>
</div>
                        <div class="tab-pane active" ng-show="tab===2">
                            <p style="font-weight: bold;">
                                Wait Lists Served
                            </p>

                            <div class="form-group">
                                
                                <div class="col-sm-12 ">
                                    <div class="radio">
                                        <label style="margin-left: 20px;">
                                            <input type="radio" name="optionsRadios" ng-click="served = false" ng-model="guestDetails.waitingStatus" value="all" id="optionsRadios1" value="" ng-checked>
                                            <span>All </span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label style="margin-left: 20px;">
                                            <input type="radio" name="optionsRadios" ng-click="served = true" ng-model="guestDetails.waitingStatus" value="Served" id="optionsRadios2" value="">
                                            <span>Period </span>
                                        </label>
                                    </div>

                                    <div class="col-sm-6">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <p>
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                            </p>
                            
                        </div>

                    </div>
                </div>
            </div>



        </div>
        

    </div>


</div>
