<div class="box box-solid bg-blue-gradient" style="color: #111111;" ng-controller="organizationController">
    <div class="box-header">
        <i class="fa fa-comment" style="color: #00c0ef;"></i>
        <h3 class="box-title">Trial Requests &nbsp; <small class="label pull-right bg-red">{{}}</small></h3><!-- dynamic data will be used -->
        <!-- tools box -->
        <div class="pull-right box-tools">
            <!-- button with a dropdown -->
            <div class="btn-group">
                <a href="" class="refresh" ng-cltelegramick="refresh()" title="refresh..."><i class="fa fa-refresh" aria-hidden="true" style="margin-top: 8px;"></i></a> &nbsp;

            </div>
            <!--<button class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>-->
        </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <!--The calendar -->
        <div id="comapany" style="width: 100%">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div><!-- /.box-header -->

                <div id="modalDialog"></div> <!-- Load modal dialog here! -->

                <div class="" style="margin-top: -30px;">
                    <label>
                        <input type="text" ng-model="qry" placeholder="Search..." style="font-weight: 400; height: 29px; padding-left: 5px; margin-left: 10px;" />
                        <i class="fa fa-search" style="margin-left: 5px;"></i>
                    </label>
                </div>

                <div class="box-body" style="overflow-x: scroll;">
                    <table id="example1" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                
                                <th>Contact Name</th>
                                <th>Orgniztion</th>
                                <th>Address</th>
                                <th>Telephone</th>
                                <th>Email</th>
                                <th style="color: white; text-align: center;">gggggg</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="req in requestData.list | filter: qry | itemsPerPage:5 " pagination-id="req">
                                <!--<td><img src="http://placehold.it/60x60" width="60" height="60"/></td>-->
                                
                                <td>{{req.contactFirstName}} {{req.contactLastName}}</td>
                                <td>{{req.organizationName}}</td>
                                <td>{{req.orgAddressLine1}}, {{req.orgAddressCity}}, {{req.orgAddressProState}} {{req.orgAddressPostZipCodeva}}</td>
                                <td>{{req.contactTel}}</td>
                                <td>{{req.contactEmail}}</td>
                                <td><button ng-click="showReqDetails(req.id)"><i class="fa fa-file-text" aria-hidden="true"></i></button></td>

                            </tr>
                            <tr ng-show=""></tr>
                        </tbody>
                        <tfoot>
                            <tr></tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <div class="pull-right" style="margin-bottom: -18px; margin-top: -28px;">
                <dir-pagination-controls pagination-id="req"></dir-pagination-controls>
            </div>


        </div>
        <div class="col-sm-5">

        </div>

    </div><!-- /.box-body -->

</div>
