body {
    background-color: #eee;

}
#org-logo {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -15px;
}

.clear_float {
    clear: both;
}

.loading {
    /*border:1px solid #ddd; padding:20px; margin:40px 5px; width:40px;*/
    padding: 0;
    margin: 40px 5px;
    width: 40px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.side-panel {
    height: 120px;
}

.title-bar {
    margin-bottom: 0;
}

.title-bar h2 {
    margin-top: -30px;
    margin-left: -55px;
}

.input-padding {
    padding-top: 10px;
}


#user_acct a {
    background-color: transparent;
    border: 0 transparent;
}

.user-acct-thumbnail {
    background-color: #88BBCF;
    border: 0 transparent;
    padding-top: 10px;
}

.caption h5 p {
    margin-top: 0;
}

/* Modal Dialog */
.panel-heading h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
}

.no-bold {
    font-weight: 400;
}

.box-body label {
    padding-left: 0;
}

.profile_field {
    width: 75%;
}

.customer-dashboard-tile-bar {
    background-color: transparent;
    margin-bottom: 0;
}

.circle-m {
    border-radius: 50%;
    width: 60px;
    height: 60px; 
    /* width and height can be anything, as long as they're equal */
}

.table-caption {
    font-weight: 700;
    color: #fff;
}

.table-color {
    /*background-color: #00ff21;*/
    /*background-color: #F0F312;*/
    background-color: rgba(243, 156, 18, 0.68);
}

.square-l {
    width: 120px;
    height: 100px; 
}

.table-round-m {
    text-align: center;
    vertical-align: middle;
    /*padding-top: 7px;*/
    font-size: 2.75em;
    position: relative;
    font-weight: 700;
}

.custom-table a {
    color: aliceblue;
}

.custom-table a:hover {
    color: #dceaf7;
}


.table-status {
    margin-top: -15px;
    font-size: 0.5em;
    position: absolute;
}


.table-size {
    font-size: .25em;
    margin-top: -10px;
    position: absolute;
    margin-left: -12px;
    color: #333;
}


.detail-value {
    margin-top: 7px;
}

.table-available {
    color: #85f585;
}

.table-occupied {
    color: #ff0000;
}


.Table-Details {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 40px;
    font-size: 1.15em;
}

.refresh {
    color: #E3C5AF;
    font-size: small;
    float: left;
}

.row-available {
    color: #f8bb3b;
}

.row-waiting {
    color: #f14848;
}

.row-served {
    color: #18f718;
}


input.ng-invalid {
    background-color: pink;
}
input.ng-valid {
    /*background-color: lightgreen;*/
}

.serving {
    margin-left: 10px;
    margin-bottom: 20px;
}


.org-title {
    font-weight: bold;
}

.org-add {
    font-size: .75em;
}

/******* Tabs ************/
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #623ff3;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}




/* Responsive Settings */

@media (max-width: 768px) {
  .side-panel {
    height: 320px;
  }

  .title-bar {
    margin-bottom: 0;
    }

.title-bar h2 {
    /*margin-top: -30px;*/
    margin-left: -15px;
    }
}